# Copyright (C) 2024 The LineageOS Project
# SPDX-License-Identifier: Apache-2.0

on init
    # USB configuration
    setprop sys.usb.config diag,adb
    setprop sys.usb.configfs 1
    
    # Set default USB mode
    write /config/usb_gadget/g1/functions/mtp.0/strings/0x409/configuration "MTP"
    write /config/usb_gadget/g1/functions/ptp.0/strings/0x409/configuration "PTP"
    
    # Enable ADB by default
    setprop persist.sys.usb.config adb

on property:sys.boot_completed=1
    # Set final USB configuration after boot
    setprop sys.usb.config mtp,adb
