# Copyright (c) 2024 The LineageOS Project

on boot
    # USB properties
    setprop persist.vendor.usb.config diag,serial_cdev,rmnet,dpl,nmea,qdss,mtp
    setprop sys.usb.config diag,serial_cdev,rmnet,dpl,nmea,qdss,mtp
    setprop sys.usb.config.func.count 7

on property:sys.usb.config=*
    setprop sys.usb.state ${sys.usb.config}

on property:persist.vendor.usb.config=*
    setprop sys.usb.config ${persist.vendor.usb.config}

service vendor.usb-gadget-hal-1-3 /vendor/bin/hw/android.hardware.usb.gadget@1.3-service.oneplus
    class hal
    user usb
    group usb
    seclabel u:r:hal_usb_gadget_default:s0

service vendor.usb-1-3 /vendor/bin/hw/android.hardware.usb@1.3-service.oneplus
    class hal
    user usb
    group usb
    seclabel u:r:hal_usb_default:s0
